# This workflow will execute xygeni scanner deployed in the LabDev environment on demand.
# Reports will be uploaded with the user nicolas.carmona+dogfooding@xygeni.io

name: Testing-Demo

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  xygeni-scan:
  
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Xygeni-Scanner-Demo
      uses: xygeni/xygeni-action@v5
      id: Xygeni-Scanner
      with:
        command: scan --never-fail -o ./XygeniAction.json -f json
        token: ${{ secrets.XYGENI_TOKEN_DEMO }}
        gh_token: ${{ secrets.GH_PAT_FOR_DOGFOODING }}
        xygeni_url: https://apidemo.xygeni.io/deps-doctor-service
    - name: Upload scan report result (deps)
      uses: actions/upload-artifact@v6
      with:
          name: deps.XygeniAction.json
          path: ./deps.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (suspectdeps)
      uses: actions/upload-artifact@v6
      with:
          name: suspectdeps.XygeniAction.json
          path: ./suspectdeps.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (secrets)
      uses: actions/upload-artifact@v6
      with:
          name: secrets.XygeniAction.json
          path: ./secrets.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (misconf)
      uses: actions/upload-artifact@v6
      with:
          name: misconf.XygeniAction.json
          path: ./misconf.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (iac)
      uses: actions/upload-artifact@v6
      with:
          name: iac.XygeniAction.json
          path: ./iac.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (malware)
      uses: actions/upload-artifact@v6
      with:
          name: malware.XygeniAction.json
          path: ./malware.XygeniAction.json
          retention-days: 1
    - name: Upload scan report result (sast)
      uses: actions/upload-artifact@v6
      with:
          name: sast.XygeniAction.json
          path: ./sast.XygeniAction.json
          retention-days: 1
          
